@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<div class="container background-image">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-15 text-center">
            <h1 class="display-4">Sports Competition Management</h1>
            <p>Welcome to the Sports Competition Management website! Here you will discover a comprehensive platform designed to streamline the organization and administration of sports competitions.</p>
            <p>Our mission is to provide a robust and user-friendly solution that empowers event organizers, team managers, and participants to efficiently manage every aspect of their sports competitions.</p>
            <p>From scheduling and team registration to match results and statistics, our platform offers a wide range of features and tools to ensure a seamless and successful competition experience.</p>
            <p>Whether you're organizing a local tournament, a regional championship, or an international sporting event, our platform is your reliable companion in achieving excellence and creating unforgettable sports moments.</p>
        </div>
    </div>
</div>
